
@{
    ViewBag.Title = "MemberHomeIndex";
    Layout = "~/Areas/Member/Views/Shared/MemberLayoutPage.cshtml";
}

@model TwitterProject.UI.Areas.Member.Models.VM.TweetDetailVM


<div class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-aqua-active">

                    <h3 class="widget-user-username">@Session["FullName"]</h3>
                    <h5 class="widget-user-desc">@Session["Bio"]</h5>
                </div>
                <div class="widget-user-image">
                    <img class="img-circle" src="@Session["UserImage"]" alt="User Avatar">
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">
                              @Model.Tweets.Count()
                                </h5>
                                <span class="description-text">Tweets</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">@Model.AppUser.Follow</h5>
                                <span class="description-text">Following</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4">
                            <div class="description-block">
                                <h5 class="description-header">@Model.AppUser.Follower</h5>
                                <span class="description-text">Followers</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <form action="/Member/Tweet/TweetAdd" method="post" role="form" enctype="multipart/form-data">

                    <div class="col-md-10">
                        <div class="box">
                            <div class="create-post">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <textarea name="Content" value="" id="tweetcontent" cols="500" rows="1" class="form-control" placeholder="Write what you wish"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="tools">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="file" name="Image" value="" id="imagefile" class="ion-images" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="box-footer box-comments col-md-12" id="dynamictweet">
                    @foreach (var item in Model.Tweets)
                    {                     
                    <div class="row">
                        <div class="col-md-10">
                            <!-- Box Comment -->
                            <div class="box box-widget">
                                <div class="box-header with-border">
                                    <div class="user-block">
                                        <div class="col-md-11">
                                            <img class="img-circle" src="@item.AppUser.UserImage" alt="User Image">
                                            <span class="username"><a href="#">@item.AppUser.FirstName @item.AppUser.LastName</a></span> <span class="description"> @item.CreatedDate</span>
                                        </div>
                                        <div class="col-md-1">

                                            @if (item.AppUser.UserName == User.Identity.Name)
                                            {
                                                <a href="/Member/Tweet/Delete/@item.ID" type="button" onclick="commentdelete('@item.ID')" class="btn btn-default btn-xs"><i class="fa fa-trash-o"></i></a>
                                            }

                                        </div>

                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body" id="tweetlist">
                                    <img src="@item.ImagePath" class="img-responsive pad" alt="Photo">

                                    @item.Content
                                </div>
                                <div class="box-footer box-comments" id="dynamiccomment">
                                    @foreach (var item2 in Model.Comments)
                                    {
                                        if (item2.TweetID == item.ID)
                                        {
                                            <div class="box-comment">
                                                <!-- User image -->
                                                <img class="img-circle img-sm" src="@item2.AppUser.UserImage" alt="User Image">
                                                <div class="comment-text">
                                                    <span class="username">
                                                        @item2.AppUser.FirstName @item2.AppUser.LastName
                                                        <span class="text-muted pull-right" id="a_@item2.ID">
                                                            @item2.CreatedDate
                                                            <br />
                                                        </span>
                                                    </span><!-- /.username -->

                                                    @item2.Content

                                                </div>
                                                <!-- /.comment-text -->
                                            </div>
                                        }

                                    }

                                    @if (item.Comments.Count >= 3)
                                    {

                                        <div class="clearfix">
                                            <a class="btn btn-xs float-right" href="/Member/Tweet/Detail/@item.ID">Older Comments &rarr;</a>
                                        </div>
                                    }
                                    <a href="/Member/Tweet/Detail/@item.ID" id="addLike" type="button" onclick="like('@item.ID')" class="btn btn-default btn-sm"><i class="fa fa-thumbs-o-up">Like</i> Or  <i class="fa fa-commenting-o">Comments</i></a>

                                    <br />
                                </div>

                            </div>
                            <!-- /.box -->
                        </div>
                    </div>                       
                    }
                </div>
            </div>
        </div>
    </div>
</div>


